/* google fonts */
body {
    font-family: "Roboto Slab", serif;

}

header {
    background-image: url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 30px;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.header-title {
    padding-top: 60px;
    padding-bottom: 70px;
    margin: 20px;
}

#sub-title {
    font-size: 2.5rem;
    font-weight: 500;
}

#title-1 {
    font-size: 5rem;
    font-weight: 400;
}

.mid-night {
    background-image: url(images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.vanue {
    background-image: linear-gradient(to right, rgba(177, 152, 152, 0), rgb(237, 187, 187));
}

/* flex box */
.flex {
    display: flex;
    /* using flxbox */
}

/* flex disrection */
.flex-col {
    flex-direction: column;
}

/* justify content */
.space-around {
    justify-content: space-around;
}

/* align items */
.align-center {
    align-items: center;
}

/* width */
.w-80 {
    width: 80%;
}

.w-500 {
    width: 500px;
}

/* text align center*/
.text-center {
    text-align: center;
}

/* background color */
.bg-red {
    background-color: #FF0000;
}

/* padding */
.p-5 {
    padding: 15px;
}
.p-50{
    padding: 50px;
}
.px-2{
    padding-inline: 20px;
}
/* margin */
.mt-5 {
    margin-top: 50px;
}
/* border radius */
.round-1{
    border-radius: 10px;
}
.round{
    border-radius: 5px;
}
/* border */
.border-0{
    border: 0;
}
/* transparent backgroung */
.transparent {
    background: transparent;
}

/* font color */
.text-red {
    color: #FF0000;
}

.text-white {
    color: white;
}

/* font size */
.font-medium {
    font-size: 3rem;
}
.font-abnormal{
    font-size: 1.5rem;
}
.font-normal{
    font-size: 1rem;
}
.font-xl {
    font-size: 4.2rem;
}

.font-small {
    font-size: 1.5rem;
}

/* font bold */
.font-bold {
    font-weight: bold;
}