/* google fonts */
body {
    font-family: "Roboto Slab", serif;
    
}

header {
    background-image: url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 30px;
    overflow: hidden;
}

.header-title {
    padding-top: 60px;
    padding-bottom: 70px;
    margin: 20px;
}

#sub-title {
    font-size: 2.5rem;
    font-weight: 500;
}

#title-1 {
    font-size: 5rem;
    font-weight: 400;
}
/* flex box */
.flex{
    display: flex;
    /* using flxbox */
}
/* flex disrection */
.flex-col{
    flex-direction: column;
}
/* align items */
.align-center{
    align-items: center;
}

/* width */
.w-80{
    width: 80%;
}
.w-500{
    width: 500px;
}
/* text align center*/
.text-center{
    text-align: center;
}
/* font color */
.text-red{
    color: red;
}
/* font size */
.font-medium{
    font-size: 3rem;
}
.font-small{
    font-size:1.5rem ;
}

/* font bold */
.font-bold{
    font-weight: bold;
}