/* google fonts */
body {
    font-family: "Roboto Slab", serif;

}

header {
    background-image: url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 30px;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.header-title {
    padding-top: 60px;
    padding-bottom: 70px;
    margin: 20px;
}
hr{
    width: 80%;
}
#sub-title {
    font-size: 2.5rem;
    font-weight: 500;
}

#title-1 {
    font-size: 5rem;
    font-weight: 400;
}

.mid-night {
    background-image: url(images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.vanue {
    background-image: linear-gradient(to right, rgba(177, 152, 152, 0), rgb(237, 187, 187));
}

.round-img {
    border: 8px solid #FF0000;
    border-radius: 50%;
    padding: 20px;
}

/* surprise */
.container {
    position: relative;
    width: 100%;
    height: 600px;
}

.top-right {
    position: absolute;
    width: 429px;
    height: 420px;
    top: 30px;
    right: 20px;
}

.bottom {
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 60px;
}

.bottom-left {
    position: absolute;
    left: 0;
}

.middle-right {
    position: absolute;
    top: 90px;
    right: 285px;
}

/* .middle-right >img{
    border: 3px solid white;
    border-radius: 50%;
} */

/* portfolio */
.grid-portfolio{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}

/* subscribe */

/* flex box */
.flex {
    display: flex;
    /* using flxbox */
}

/* flex disrection */
.flex-col {
    flex-direction: column;
}

/* justify content */
.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

/* align items */
.align-center {
    align-items: center;
}
.bg-gray{
    background-color: azure;
}
.input-radius{
    border-radius: 0px 50px 50px 0px;
}
.input-radius-1{
    border-radius: 50px 0px 0px 50px;
}
/* flex gap */
.gap {
    gap: 15px;
}

/* width */
.w-80 {
    width: 80%;
}

.w-500 {
    width: 500px;
}

/* text align center*/
.text-center {
    text-align: center;
}

/* background color */
.bg-red {
    background-color: #FF0000;
}
.bg-red-100{
    background-color:  #e7cfcf;
}
/* padding */
.p-5 {
    padding: 15px;
}

.p-50 {
    padding: 50px;
}

.px-2 {
    padding-inline: 20px;
}
.px-3{
    padding-inline: 90px;
}
.pl {
    padding-left: 20px;
}

/* margin */
.mt-5 {
    margin-top: 50px;
}

.mt-10 {
    margin-top: 180px;
}

/* border radius */
.round-1 {
    border-radius: 10px;
}

.round {
    border-radius: 5px solid #FF0000;
}

/* .round-full{
    border-radius: ;
} */
/* border */
.border-0 {
    border: 0;
}

/* transparent backgroung */
.transparent {
    background: transparent;
}

/* font color */
.text-red {
    color: #FF0000;
}

.text-white {
    color: white;
}

/* font size */
.font-md {
    font-size: 2.2rem;
}

.font-medium {
    font-size: 3rem;
}

.font-abnormal {
    font-size: 1.5rem;
}

.font-normal {
    font-size: 1rem;
}

.font-xl {
    font-size: 4.2rem;
}

.font-small {
    font-size: 1.5rem;
}

/* font bold */
.font-bold {
    font-weight: bold;
}